html,
body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
p,
div {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  color: #000;
}
.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .slider-container {
  position: relative;
  margin: 20px auto;
  width: 800px;
  height: 400px;
  background-color: #000;
  overflow: hidden;
}
.wrapper .slider-container .slider-row {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  transition: 0.5s;
}
.wrapper .slider-container .slider-row .slide {
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper .arrow {
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  color: #555;
  position: absolute;
  top: 190px;
  border: 1px solid #555;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  user-select: none;
}
.wrapper .arrow:hover {
  color: #111;
  background-color: rgba(0, 0, 0, 0.3);
}
.wrapper .arrow.next {
  right: 0;
}
.wrapper .arrow.prev {
  left: 0px;
}
